<!--<ion-view view-title="WorkingGroupLink">-->
  <!--<ion-content>-->
    <!--<h1>Organizations</h1>-->
      <!--<ion-list>-->
          <!--<div ng-repeat="group in groups">-->
              <!--<ion-item class="item-stable"-->

                        <!--ng-class="{active: isGroupShown(group)}">-->
                  <!--<i class="icon" ng-class="isGroupShown(group) ? 'ion-minus' : 'ion-plus'" ng-click="toggleGroup(group)"></i>-->
                  <!--&nbsp;-->
                  <!--<label ng-click="get_contact()">-->
                      <!--Organization {{group.name}}-->
                  <!--</label>-->

              <!--</ion-item>-->
              <!--<ion-item class="item-accordion"-->
                        <!--ng-repeat="item in group.items"-->
                        <!--ng-show="isGroupShown(group)">-->
                  <!--{{item}}-->
              <!--</ion-item>-->
          <!--</div>-->
      <!--</ion-list>-->
      <!--<button class="button button-full button-positive" ng-click = "organization_add()">-->
          <!--Add Organization-->
      <!--</button>-->
  <!--</ion-content>-->
<!--</ion-view>-->
