<ion-view view-title="WorkingGroupLink">
    <ion-content>
        <h1>Projects</h1>
        <ion-list>

            <div ng-repeat="project in projects">
                <ion-item class="item-stable"
                          ng-class="{active: isProjectShown(project)}">
                    <i class="icon" ng-class="isProjectShown(project) ? 'ion-minus' : 'ion-plus'"
                       ng-click="toggleProjects(project)"></i>
                    &nbsp;
                    <a ng-href="#app/project/{{project.id}}"> {{project.name}} </a>

                    <ion-item class="item-accordion"
                              ng-repeat="organization in project.organizations"
                              ng-show="isProjectShown(project)">

                        <ion-item class="item-stable"
                                  ng-class="{active: isOrganizationShown(organization)}">
                            <i class="icon" ng-class="isOrganizationShown(organization) ? 'ion-minus' : 'ion-plus'"
                               ng-click="toggleOrganizations(organization)"></i>
                            &nbsp;
                            <a ng-href="#app/project/{{project.id}}/organization/{{organization.id}}">
                                {{organization.name}}
                            </a>
                        </ion-item>

                        <ion-item class="item-accordion"
                                  ng-repeat="contact in organization.contacts"
                                  ng-show="isOrganizationShown(organization)">
                            <a ng-href="#app/project/{{project.id}}/organization/{{organization.id}}/contact/{{contact.id}}">
                                {{contact.name}}
                            </a>
                        </ion-item>

                        <ion-item class="item-stable"
                                  ng-show="isOrganizationShown(organization)">
                            <a ng-href="#app/project/{{project.id}}/organization/{{organization.id}}/contact/{{contact.id}}/add_contact">Add Contact</a>
                        </ion-item>

                    </ion-item>
                    <ion-item class="item-stable"
                              ng-show="isProjectShown(project)">
                        <a ng-href="#app/project/{{project.id}}/organization/{{organization.id}}/add_organization">Add Organization</a>
                    </ion-item>
                </ion-item>

            </div>

            <ion-item class="item-stable"
                      ng-show="isProjectShown(project)">
                <a ng-href="#app/project/{{project.id}}/add_project">Add Project</a>
            </ion-item>
        </ion-list>
        <!--<button class="button button-full button-positive" >-->
                <!--<a ng-href="#app/project/{{project.id}}/add_project">-->
            <!--Add Project</a>-->
        <!--</button>-->

    </ion-content>
</ion-view>
