<ion-view view-title="WorkingGroupLink">
    <ion-content >
        <div class="list card">
            <div class="item item-body">
                <button class="button button-full button-positive" >
                    Authorize App
                </button>
                <button class="button button-full button-positive" >
                    Get Access Token
                </button>
                <button class="button button-full button-positive">
                    Get Refresh Token
                </button>

                <button class="button button-full button-positive" ng-click = "project_list()">
                    Get project
                </button>


            </div>
        </div>
    </ion-content>
</ion-view>

